<div class="row">
  <div class="col-md-1"></div>
  <div class="col-md-5 order">
    <h2>Pokemon team  Creater:</h2>
    <ul class = "list">
      {{#each pokemon}}
      {{#unless add}}
      {{> pokemon/pokemon-block add=true}}
      {{/unless}}
      {{/each}}
    </ul>
  </div>

  <div class="col-md-5 eaten">
    <h2>Pokemon Team</h2>
    <ul class = "list">
      {{#each pokemon}}
      {{#if add}}
      {{> pokemon/pokemon-block add=false}}
      {{/if}}
      {{/each}}
    </ul>
  </div>
  <div class="col-md-1"></div>
</div>


<div class="row">
  <div class="col-md-12">
    <form class="create-form">

      <div class="form-group">
        <label for="ca">pokemon</label>
        <input type="text" id="ca" name="name">
      </div>

      <button class="submit" type="submit">Add pokemon</button>
    </form>
    <p>Select the pokemon you want to add to your pokemon team and click "Add pokemon"</p>
  </div>
</div>