<div class="row">
  <div class="col-md-1"></div>
  <div class="col-md-5 order">
    <h2>Burger Bucket List:</h2>
    <ul class = "list">
      {{#each burgers}}
      {{#unless devoured}}
      {{> burgers/burgers-block devoured=true}}
      {{/unless}}
      {{/each}}
    </ul>
  </div>

  <div class="col-md-5 eaten">
    <h2>Burgers Devoured:</h2>
    <ul class = "list">
      {{#each burgers}}
      {{#if devoured}}
      {{> burgers/burgers-block devoured=false}}
      {{/if}}
      {{/each}}
    </ul>
  </div>
  <div class="col-md-1"></div>
</div>


<div class="row">
  <div class="col-md-12">
    <form class="create-form">

      <div class="form-group">
        <label for="ca">Burger Name:</label>
        <input type="text" id="ca" name="name">
      </div>

      <button class="submit" type="submit">Add Burger</button>
    </form>
    <p>Enter a burger you want to add to your burger bucket list and click "Add Burger"</p>
  </div>
</div>