/* Centered the text in the entire container */
.container {
    text-align: center;
}

/* Class placed on container div (for pages we want the red outline/background) */
.pokedex {
    background-color: #dc0a2d;
    margin: auto;
    padding: 30px;
}

/* Class placed on scrolling text box on divs containing pokemon, pokemon-stats, and teams (sets height to 400px)  */
.pokemon, .pokemon-stats, .teams {
    height: 400px;
    width: 100%;
    border: 10px solid #ccc;
    font-family: 'Press Start 2P', cursive;
    font-size: 16px;
    overflow: auto;
    background-color: gray;
}

/* Class placed on div holding pokemon party  */
.team-stats {
    font-family: 'Press Start 2P', cursive;
    font-size: 16px;
}

/* Class placed on small divs on top of eachother on the teams page (list of teams and team stats)  */
.sm-team {
    height: 170px;
    width: 100%;
    border: 10px solid #ccc;
    font-family: 'Press Start 2P', cursive;
    font-size: 16px;
    overflow: auto;
    background-color: gray;
}

/* Header on the pokedex page */
.pokedex-h2 {
    color: white;
    font-family: 'Press Start 2P', cursive;
}

/* Class Placed on Body (image of grassy fields and blue skies) */
.background {
    background: url(https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/2fb2821a-1406-4a1d-9b04-6668f278e944/d843okx-eb13e8e4-0fa4-4fa9-968a-e0f36ff168de.png?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiJcL2ZcLzJmYjI4MjFhLTE0MDYtNGExZC05YjA0LTY2NjhmMjc4ZTk0NFwvZDg0M29reC1lYjEzZThlNC0wZmE0LTRmYTktOTY4YS1lMGYzNmZmMTY4ZGUucG5nIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmZpbGUuZG93bmxvYWQiXX0.TIK_E5L8dTyBUk_dADA5WkLP8jSJMR7YGJG54KNAido);
    background-size: 100%;
    margin: 0px;
    height: 100%;
    width: 100%;
}

/* Class Placed on h1 tag of landing page (index), the one that says, "PIKA-CHOOOOOOOSE" */
.title {
    margin: 20px;
    font-family:'Francois One', sans-serif, Arial, Helvetica, sans-serif;
    font-size: 100px;
    color: #ffcb08;
    text-shadow: -5px 0 #004a94, 0 5px #004a94, 5px 0 #004a94, 0 -5px #004a94;
}

/* Class Placed on h1 tag of pages with red background, the one that says, "PIKA-CHOOOOOOOSE" */
.pokedex-title {
    font-family:'Francois One', sans-serif, Arial, Helvetica, sans-serif;
    font-size: 50px;
    color: #ffcb08;
    text-shadow: -5px 0 #004a94, 0 5px #004a94, 5px 0 #004a94, 0 -5px #004a94;
}

/* Pikachu picture on index */
#pika-pic {
    width: 400px;
}

/* Below are the css of buttons */
.add-btn {
    background-color:gold;
    color: whitesmoke;
    font-family: 'Press Start 2P', cursive;

}
.team-btn {
    background-color: #f62d13;
    color: whitesmoke;
    font-family: 'Press Start 2P', cursive;
    position: relative;
    top: 20px;
    font-family: 'Press Start 2P', cursive;

}

.view-team-btn, .view-pokemon-btn, .delete-team, .team-btn3 {
    background-color:black;
    color: whitesmoke;
    font-family: 'Press Start 2P', cursive;
    position: relative;
    top: 10px;
    left: 10px;
}

.view-team-btn2 {
    background-color:black;
    color: whitesmoke;
    font-family: 'Press Start 2P', cursive;  
}

/* NEEDS ADJUSTMENT IF IMAGES NEED TO BE BIGGER (WILL NEED TO CROP) */
.flip-card-img {
    width:90px;
    height:90px;
}

/* Below is flip card CSS */
/* The flip card container */
.flip-card {
    background-color: transparent;
    width: 100px;
    height: 150px;
    border: 1px solid #f1f1f1;
    perspective: 1000px; /* Remove this if you don't want the 3D effect */
    padding: 0px;
    margin: 0px;
  }
  
  /* This container is needed to position the front and back side */
  .flip-card-inner {
    position: relative;
    max-width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
    padding-left: 0px;
    padding-right: 0px;
  }
  
  /* Do an horizontal flip when you move the mouse over the flip box container */
  .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
  }
  
  /* Position the front and back side */
  .flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
  }
  
  /* Style the front side (fallback if image is missing) */
  .flip-card-front {
    background-color: #bbb;
    color: black;
  }
  
  /* Style the back side */
  .flip-card-back {
    background-color: #004a94;
    color: white;
    transform: rotateY(180deg);
  }

  .hidden {
      display: none;
  }

  .pokemon-sprite {
        width:90px;
        height:90px;
  }

  .add-team-form {
    color: whitesmoke;
    font-family: 'Press Start 2P', cursive;
  }

  .submit-btn {
      background-color: gold
  }